__pycache__/
*.py[cod]
*.pyo
# Byte-compiled / optimized / DLL files
*.pyc

# Byte-compiled folders
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
ENV/
.venv/

# Editor directories
.vscode/
.idea/
PRD/database/setup/query_explorer.pgsql
tmp_dea_hotspots_wms.xml
PRD/webapp/ga_services.json
scripts/output_2077_multi.json
